[submodule "Free Code Camp/Machine Learning Projects/Rock Paper Scissors/boilerplate-rock-paper-scissors"]
	path = Free Code Camp/Machine Learning Projects/Rock Paper Scissors/boilerplate-rock-paper-scissors
	url = https://github.com/Danielkim002/boilerplate-rock-paper-scissors.git
